body {
  background-color: #000000db;
  color: #ffffff;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropzone {
  cursor: pointer;
  border: 1px dashed;
  padding-bottom: 40px;
}

.hover-block {
  height: 100px;
  width: 250px;
  position: fixed;
  bottom: 0px;
  right: 0;
  border: 5px solid #1f5e89;
  background-color: #242424;
  padding: 5px 10px;
}
